<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">

    <module name="LineLength">
        <property name="max" value="160" />
    </module>

    <module name="TreeWalker">

        <!-- Formatting -->
        <module name="Indentation">
            <property name="basicOffset" value="4" />
            <property name="caseIndent" value="0" />
        </module>

        <module name="MethodParamPad" />
        <module name="NoWhitespaceAfter" />
        <module name="NoWhitespaceBefore" />
        <module name="ParenPad" />
        <module name="TypecastParenPad">
            <property name="option" value="nospace" />
        </module>
        <module name="WhitespaceAfter">
            <property name="tokens" value="COMMA, SEMI" /> <!-- not typecasts -->
        </module>
        <module name="WhitespaceAround">
            <property name="allowEmptyConstructors" value="true" />
            <property name="allowEmptyMethods" value="true" />
            <property name="allowEmptyTypes" value="true" />
            <property name="allowEmptyLoops" value="true" />
        </module>
        <module name="ModifierOrder" />
        <module name="RedundantModifier" />
        <module name="EmptyBlock">
            <!-- Put a comment in it if you need one explaining why -->
            <property name="option" value="text" />
        </module>
        <module name="LeftCurly">
            <!-- Checks for placement of the left curly brace ('{'). -->
            <property name="severity" value="warning"/>
        </module>
        <module name="RightCurly" />
        <module name="AvoidNestedBlocks">
            <property name="allowInSwitchCase" value="true" />
        </module>
        <module name="EmptyStatement" />
        <module name="UpperEll" /> <!-- Lowercase l is hard to read -->
        <module name="ArrayTypeStyle" />


        <!-- Naming conventions -->
        <module name="PackageName">
            <property name="format" value="^[a-z]+(\.[a-z][a-z0-9]*)*$" />
        </module>
        <module name="TypeName" />
        <module name="ConstantName">
            <!-- Allow "log". There might be other non-constant static finals but they should be rare enough we can just list them
              here when they come up. -->
            <property name="format" value="^([A-Z][A-Z0-9]*(_[A-Z0-9]+)*|log)$" />
        </module>
        <module name="MemberName" />
        <module name="LocalFinalVariableName" />
        <module name="LocalVariableName" />
        <module name="ParameterName" />
        <module name="StaticVariableName" />
        <module name="UnnecessaryParentheses" />
        <module name="PackageDeclaration" />


        <!-- Import -->
        <module name="AvoidStarImport" />
        <module name="IllegalImport" />
        <module name="RedundantImport" />
        <module name="UnusedImports" />


        <!-- Common coding problems/opinionates stuff -->
        <module name="CovariantEquals" />
        <module name="EqualsHashCode" />
        <module name="InnerAssignment" /> <!-- Too suprising -->
        <module name="MissingSwitchDefault" /> <!-- Just comment that its a noop if its a noop -->
        <module name="ModifiedControlVariable" />
        <module name="SimplifyBooleanExpression" />
        <module name="SimplifyBooleanReturn" />
        <module name="StringLiteralEquality" />
        <module name="SuperClone" />
        <module name="SuperFinalize" />
        <module name="IllegalCatch" />
        <module name="IllegalThrows" />
        <module name="ExplicitInitialization" /> <!-- May as well let Java do what its going to do -->
        <module name="DefaultComesLast" />
        <module name="FallThrough" />
        <module name="MultipleVariableDeclarations" />
        <module name="VisibilityModifier" /> <!-- May as well follow standard Java style here -->
        <module name="FinalClass" />
        <module name="HideUtilityClassConstructor" />
        <!-- This one usually offers good to interesting suggestions but its too much work to implement now. <module name="DesignForExtension"/> -->
        <module name="MutableException" />
        <module name="UncommentedMain">
            <property name="excludedClasses" value="org\.wikidata\.query\.rdf\.tool\..*" />
        </module>


        <!-- Really opinionated. Probably wrong. -->
        <module name="ClassFanOutComplexity" />
        <module name="CyclomaticComplexity" />
        <module name="NPathComplexity" />

        <!-- These are explicitly ok -->
        <!-- <module name="ParameterAssignment"/> Usually used when munging parameters. Fine. -->
        <!-- <module name="TrailingComment"/> -->
        <!-- <module name="HiddenField"/> It turns out that we do this all the time in setters and constructors. -->
        <!-- <module name="ImportOrder"> Its just not worth trying to get imports to line up. -->
    </module>

    <!-- More formatting stuff that can't be in TreeWalker -->
    <module name="NewlineAtEndOfFile" />
    <module name="RegexpSingleline">
        <property name="format" value="\s+$" />
        <property name="message" value="Line has trailing spaces." />
    </module>

</module>